@use "../../modules/mixins";

body > .header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  background-color: var(--header-background);
  padding: 1.5rem var(--default-horizontal-padding);

  @include mixins.break {
    bottom: 0;
    top: unset;
    height: 7em;
    padding: 1.5em;
  }

  > .logo {
    height: 2rem;

    @include mixins.break {
      display: none;
    }
  }

  > .menu {
    @include mixins.break {
      width: 100%;
      height: 100%;
    }

    > .content {
      width: 100%;
      display: flex;

      @include mixins.break {
        height: 100%;
        align-items: center;
        justify-content: space-around;
      }

      > .item {
        > .link {
          opacity: .5;
          display: flex;
          grid-gap: .5rem;
          text-align: center;
          align-items: center;
          padding: .75rem 1.5rem;
          flex-direction: column;
          transition: opacity 350ms ease;

          @include mixins.break {
            padding: 0;
            grid-gap: .5rem;
            font-size: .75em;
            flex: 1 1 16.67%;
            flex-direction: column;
          }

          &:hover, &:focus {
            opacity: 1;
          }

          > .icon {
            width: 1.5rem;
            display: none;
            aspect-ratio: 1 / 1;

            @include mixins.break {
              display: block;
            }
          }
        }
      }
    }
  }
}
