@use "../../modules/mixins";

.grids {
  display: flex;
  grid-gap: 4em;
  flex-direction: column;
  padding: calc(var(--default-horizontal-padding) / 2) var(--default-horizontal-padding) !important;

  @include mixins.break {
    display: none;
  };

  .list {
    display: flex;
    justify-content: space-around;

    &-size {
      display: flex;
      grid-gap: 1.5em;
      align-items: center;
      flex-direction: column;

      &-title {
        font-weight: 700;
        line-height: 175%;
        font-size: 1.25em;
      }

      &-part {
        display: flex;
        grid-gap: .5em;
        flex-direction: column;

        &-grid {
          display: grid;

          &-cell {
            display: grid;

            &-number {
              overflow: hidden; // TO REMOVE!!!
              display: grid;
              border-radius: 30%;
              place-items: center;
              background-color: var(--background-accent);
            }
          }
        }

        &-caption {
          opacity: .4;
          font-size: .8em;
        }
      }

      &.x4 {
        .list-size {
          &-part {
            $font: 1.5em;
            $cell-gap: 7.56px;
            $section-gap: 15.11px;
            $cell: repeat(2, 60.44px);
            $section: repeat(2, 128.44px);

            &-grid {
              grid-gap: $section-gap;
              grid-template-rows: $section;
              grid-template-columns: $section;

              &-cell {
                grid-gap: $cell-gap;
                grid-template-rows: $cell;
                grid-template-columns: $cell;

                &-number {
                  font-size: $font;
                }
              }
            }
          }
        }
      }

      &.x9 {
        .list-size {
          &-part {
            $font: 1em;
            $cell-gap: 3.32px;
            $section-gap: 6.63px;
            $cell: repeat(3, 26.54px);
            $section: repeat(3, 86.24px);

            &-grid {
              grid-gap: $section-gap;
              grid-template-rows: $section;
              grid-template-columns: $section;

              &-cell {
                grid-gap: $cell-gap;
                grid-template-rows: $cell;
                grid-template-columns: $cell;

                &-number {
                  font-size: $font;
                }
              }
            }
          }
        }
      }

      &.x16 {
        .list-size {
          &-part {
            $font: .5em;
            $cell-gap: 1.86px;
            $section-gap: 3.73px;
            $cell: repeat(4, 14.9px);
            $section: repeat(4, 65.21px);

            &-grid {
              grid-gap: $section-gap;
              grid-template-rows: $section;
              grid-template-columns: $section;

              &-cell {
                grid-gap: $cell-gap;
                grid-template-rows: $cell;
                grid-template-columns: $cell;

                &-number {
                  font-size: $font;
                }
              }
            }
          }
        }
      }
    }
  }
}
